.home-page {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  
  .menu_btn{
    font-size: 3rem;
  }
}
.rules {  
  flex-basis: 40%;
  font-family: "Montserrat", sans-serif;

  .rules_item {
    padding: 10px 20px;
    background-color: rgba(16,16,28,.8);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
  }
  .rules_head {
    display: flex;
    justify-content: space-between;

    .rules_title {
      font-size: 1.4rem;
      margin: 0;
      text-align: left;   
      font-weight: normal;
      font-variant: small-caps;
      font-style: italic;     
    }

    .rules_opener {
      font-size: 1.2rem;
      font-weight: 900;
      cursor: pointer;
      width: 14px;
    }
  }

  .rules_body{
    margin-top: 10px;
    border-top: 1px solid #a09b9b;
    padding-top: 10px;
  }
}