.multigame{
  position: relative;
  font-family: "Montserrat", sans-serif;  
  margin: 0;  
  padding-top: 60px !important;
  font-variant: small-caps;
  font-style: italic; 

  &_title{
    position: absolute;
    left: calc(50% - 10rem);
    top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: #000000 1px 0 10px;

    @media (max-width: 520px) {
      left: 100px;

      font-size: 20px;
    }
  }

  &_timer{
    position: absolute;
    top: 1.5rem;
    left: 2rem;;
    font-size: 1.7rem;
    font-weight: bold;
    color: red;
    text-shadow: #000000 1px 0 10px;
  }

  &_wrapper{
    height: 90%;
    width: 100vw;
    display: flex;

    @media (max-width: 790px) {
      flex-direction: column;
    }

    .multigame_question{
      position: relative;
      width: 70vw;
      margin: 1rem;

      @media (max-width: 790px) {
        margin: 0 auto;
        width: 94%;
        height: 100%;
      }

      &__help{
        position: absolute;
        display: flex;
        top: 0.5rem;
        left: 0.5rem;
        font-size: 0.9rem;
        z-index: 10;


        .multigame_question__utc,
        .multigame_question__continent,
        .multigame_question__flag,
        .game_help__button{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 4.5rem;
          height: 3rem;
          margin: 0.4rem;
          padding: 0.1rem;
          border-radius: 0.3rem;
          border-color: grey;          
          background-color:  rgba(0, 0, 0, 0.185);
          font-size: 0.6rem;
          opacity: 0.7;
          transition: all 150ms ease-in-out;          
        }
        .multigame_question__utc:hover,
        .multigame_question__continent:hover,
        .multigame_question__flag:hover,
        .game_help__button:hover{          
          border-color: white;   
          background-color:  rgba(0, 0, 0, 0.5);
          scale: 1.4;
          opacity: 1;
          transition: all 150ms ease-in-out;
        }
        .multigame_question__flag{
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;         
        }
        
      }

      &__map{        
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        max-width: 90%;
        max-height: 90%;
        border-radius: 0.5rem;
        z-index: 2;
        transition: all 150ms;
      }
      &__map:hover{
        transition: all 150ms;
      }


      &__streetview{
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
      }

      .guess_btn{
        position: fixed;
        bottom: -30px;
        left: 50%;
        width: 300px;
        display: flex;
        justify-content: center;
        transform: translate(-50%, -50%);
        z-index: 1000;
      }

    }

    .multigame_players-list{
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 20px;
      flex-wrap: wrap;
      width: 27vw;
      height: max-content;
      position: relative;
      font-family: "Montserrat", sans-serif;

      @media (max-width: 790px) {        
        width: 97%;
        flex-direction: row;
        gap: 10px;        
      }

      .multigame_players-item{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: max-content;
        border: solid 1px grey;
        background-color: rgba(16, 16, 28, 0.8);
        border-radius: 0.3rem;
        line-height: 1.2;

        &__info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.2rem;
          text-align: center;

          .multigame_players-item__score{            
            font-size: 1rem;            
          }
        }

        &__modal{
          text-align: center;
          font-size: 0.9rem;
          font-style: normal;

        }
        &__modal.__hide{
          color: transparent;

        }

      }
    }


    &__modal{
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;   

      width: 100vw;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.726);
      z-index: 1099 ;
      text-align: center;

      font-size: 2rem;
      line-height: 1.5;
    }

  }

  
}
