.multiplayer{
  position: relative;
  font-family: "Montserrat", sans-serif;  
  margin: 0;  
  font-variant: small-caps;
  font-style: italic;

  overflow-y: auto;

  @media (max-width: 535px) {        
    height: calc(100% - 95px) !important;
  }

  &_title{
    position: absolute;
    left: calc(50% - 11rem);
    top: 1.5rem;
    font-size: 2.4rem;
    font-weight: bold;
    text-shadow: #000000 1px 0 10px;

    @media (max-width: 1150px) {        
      top: 100px;
    }

    @media (max-width: 353px) {        
      left: 10px;

      font-size: 30px;
    }
  }

  &_players{
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;    
    width: 100vw; 
    height: max-content;
    margin-bottom: 2rem;
    padding-top: 1rem;

    &__item {
      display: flex;
      flex: 0 0 min(12vh, 12vw);
      justify-content: center;
      align-items: center;
      gap: 10px;      
      height: min(8vh, 8vw);
      border: solid 1px grey;
      background-color: rgba(16, 16, 28, 0.8);
      border-radius: 1rem;
      margin: 2vw;
      padding: 0.5rem;

      font-size: 1.5rem;
      font-weight: bold;
    } 

  }

  &_nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    .game_btn {
      text-shadow: #000000 1px 0 10px;

      &:not(:disabled) {
        -webkit-animation: blink1 3s linear infinite;
        animation: blink 3s linear infinite;
      }
    }

    @-webkit-keyframes blink {
      0% { color: rgb(255, 255, 255); }
      50% { color: rgba(255, 255, 255, 0); }
      100% { color: rgba(255, 255, 255, 1); }
    }
    @keyframes blink {
      0% { color: rgba(255, 255, 255, 1); }
      50% { color: rgba(255, 255, 255, 0); }
      100% { color: rgba(255, 255, 255, 1); }
    }

    .multiplayer_games{
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;

      &__item{
        display: flex;
        flex: 0 0 10vw;
        flex-direction: column;
        height: min(15vh, 15vw);
        border: solid 1px grey;
        background-color: rgba(16, 16, 28, 0.8);
        border-radius: 1rem;
        padding: 0.5rem;
        min-width: 100px;
        align-items: center;
        justify-content: space-between;

        .custom-game__title{
          width: 100%;
          height: 2rem;
          overflow: hidden;
          text-align: center;
          font-size: 0.8rem;
        }

        @media (max-width: 780px) {        
          height: max-content;
        }

        .multiplayer_game-select{
          border: 1px solid rgb(214, 205, 208);
          border-radius: 0.3rem;
          padding: 0 5px;
          cursor: pointer;
          transition: all 0.3s;
          
          &__active {
            border: 1px solid rgb(189, 18, 75);
            color: rgb(189, 18, 75);
          }
        }
        .multiplayer_game-select:hover{
          box-shadow: 0 0 40px 40px #adafb177 inset, 0 0 0 0 #a4a8aa;
          transition: all 0.3s;
        }

        .multiplayer_games__likes{          
          align-items: center;
          font-size: 1.2rem;
          display: flex;
          
          .likes_count{
            margin: 0.5rem;
          }

          .likes_count__btn{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.2rem;
            padding: 0.5rem;
            width: 1.6rem;
            height: 1.6rem;            
            border-color: transparent;
            border-radius: 50%;
            background-image: url('../../public/like.jpg');
            background-repeat: no-repeat;
            background-size: 320%;
            filter: blur(0.5px);
            opacity: 0.5;

            @media (max-width: 440px) {        
              min-width: max-content;
            }
          }

          .likes_count__btn.__liked{
            background-position: 82% 51%;
          }

          .likes_count__btn.__disliked{            
            background-position: 19% 51%;
          }
          .likes_count__btn.__liked:hover,
          .likes_count__btn.__disliked:hover{
            opacity: 1;
            transition: all 0.3s;
          }
          .likes_count__btn.__liked:active,
          .likes_count__btn.__disliked:active{
            scale: 0.97;
            transition: all 0.3s;
          }
        }
      }
    }
  }
}
