.multiplayer{
  position: relative;
  font-family: "Montserrat", sans-serif;  
  margin: 0;  
  font-variant: small-caps;
  font-style: italic; 

  &_title{
    position: absolute;
    left: calc(50% - 11rem);
    top: 1.5rem;
    font-size: 2.4rem;
    font-weight: bold;
    text-shadow: #000000 1px 0 10px;

    @media (max-width: 1150px) {        
      top: 100px;
    }

    @media (max-width: 353px) {        
      left: 10px;

      font-size: 30px;
    }
  }

  &_players{
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;    
    width: 100vw; 
    height: max-content;
    margin-bottom: 2rem;
    padding-top: 1rem;

    &__item {
      display: flex;
      flex: 0 0 min(12vh, 12vw);
      justify-content: center;
      align-items: center;
      gap: 10px;      
      height: min(20vh, 20vw);
      border: solid 1px grey;
      background-color: rgba(16, 16, 28, 0.8);
      border-radius: 1rem;
      margin: 2vw;
      padding: 0.5rem;

      font-size: 1.5rem;
      font-weight: bold;
    } 

  }

  &_nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    .game_btn {
      text-shadow: #000000 1px 0 10px;

      &:not(:disabled) {
        -webkit-animation: blink1 3s linear infinite;
        animation: blink 3s linear infinite;
      }
    }

    @-webkit-keyframes blink {
      0% { color: rgb(255, 255, 255); }
      50% { color: rgba(255, 255, 255, 0); }
      100% { color: rgba(255, 255, 255, 1); }
    }
    @keyframes blink {
      0% { color: rgba(255, 255, 255, 1); }
      50% { color: rgba(255, 255, 255, 0); }
      100% { color: rgba(255, 255, 255, 1); }
    }

    .multiplayer_games{
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;

      &__item{
        display: flex;
        flex-direction: column;
        height: min(15vh, 15vw);
        border: solid 1px grey;
        background-color: rgba(16, 16, 28, 0.8);
        border-radius: 1rem;
        padding: 0.5rem;
        min-width: 100px;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 780px) {        
          height: max-content;
        }

        .multiplayer_game-select{
          border: 1px solid rgb(214, 205, 208);
          padding: 0 5px;
          cursor: pointer;
          
          &__active {
            border: 1px solid rgb(189, 18, 75);
            color: rgb(189, 18, 75);
          }
        }

        .multiplayer_games__likes{          
          align-items: center;
          font-size: 1.2rem;
          display: flex;
          
          .likes_count{
            margin: 0.5rem;
          }

          .likes_count__btn{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0.2rem;
            padding: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;

            @media (max-width: 440px) {        
              min-width: max-content;
            }
          }
        }
      }
    }
  }
}
